/*Estoy haciendo uso de la tecnica mobile first*/
/*Celular promedio*/
.header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}
.footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 10vw;

}
.titulo{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
}
.bars{
    width:23px;
}
.img-principal{
    display: none;
}
.menu-options{
    font-family: 'Roboto', sans-serif;
    display: none;
}
main section{
    padding: 20px 0;
}
main section h2{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.seccion-principal{
    height: 180px;
    background-image: url("../assets/img/principal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255, 0.2);
}
.container-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.seccion-principal .container-text span{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 80%;
    font-size:15px;
}
.seccion-principal button{
    font-family: 'Roboto', sans-serif;
    background-color:#F2CA2D;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-size:15px;
}
.seccion-principal button, .seccion-principal h2, .seccion-principal span{
    margin: 10px 0px;
}
.seccion-valores{
    background-color:#4E799C;
}
.seccion-valores h2{
    color:white;
    margin-bottom: 15px;
}
.container-valores{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 15px;
}
.card-valores{
    background-color: #F2F2F2;
    width:80%;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 35px 0px 15px 0px;
}
.card-valores img{
    height: 60px;
}
.card-valores h3{
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}
.card-valores p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.2rem;
    width:80%;
}
.card-valores img, .card-valores h3, .card-valores p{
    margin: 5px 0px;
}
.seccion-beneficios h2{
    margin-bottom: 20px;
}
.container-beneficios{
    margin: 0 auto;
    background-color: #F2CA2D;
    border-radius: 10px;
    width:80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
}
.card-beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.card-beneficios img{
    height: 60px;
}
.card-beneficios h3{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.card-beneficios p{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    width:80%;
    text-align: center;
    line-height: 1.2rem;
}
.card-beneficios p, .card-beneficios h3, .card-beneficios img{
    margin: 5px 0px;
}
.menu-options-footer{
    margin-top:30px;
}
.footer-i{
    display: flex;
    flex-direction: column;
}
.footer-i-a{
    display: flex;
    flex-direction: column;
}
.menu-options-footer ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.menu-options-footer ul li{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
.redes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}
.redes img{
    width:25px;
    height: 25px;
    margin: 0px 5px;
}
.footer-ii{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.legal-options{
    margin-bottom: 10px;
}
.legal-options ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.legal-options ul li{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
.devlum{
    font-family: 'Roboto', sans-serif;
    text-align: right;
    width: 100%;
}
/*Celular Grande promedio*/
@media (min-width: 640px) {
    .seccion-principal{
        height: 70vh;
    }
    .seccion-principal .container-text span{
        font-size: 20px;
    }
    main section h2{
        font-size: 30px;
    }
    .card-valores h3{
        font-size: 28px;
    }
    .card-valores p{
        font-size: 20px;
        line-height: 1.4rem;
    }
    .card-beneficios h3{
        font-size: 23px;
    }
    .card-beneficios p{
        font-size: 18px;
    }
    .footer-i{
        width:100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .footer-i-a{
        flex-direction: row;
        align-items: center;
    }
    .footer .footer-i .footer-i-a .titulo{
        margin-right: 60px;
    }
    .footer-ii{
        margin-top: 20px;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .legal-options ul{
        width: 400px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .legal-options ul li{
        margin: 0px;
    }
}
/*Tablet promedio*/
@media (min-width: 768px) {
    .seccion-principal button{
        padding: 8px 12px;
        font-size:25px;
        margin-top: 15px;
    }
    main section h2{
        font-size: 40px;
    }
    .container-valores{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        width:80%;
        margin: 0 auto;
    }
    .card-valores{
        width: 100%;
        max-width: 490px;
    }
    .card-valores h3{
        font-size: 26px;
    }
    .card-valores p{
        font-size: 15px;
    }
    .seccion-valores h2{
        color:white;
        margin-bottom: 25px;
    }
    .container-beneficios{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .card-beneficios h3{
        font-size: 20px;
    }
    .card-beneficios p{
        font-size: 14px;
    }
    .redes img{
        width: 30px;
        height: 30px;
        margin: 0px 5px;
    }
}
/*Laptop promedio*/
@media (min-width: 1024px) {
    .titulo{
        font-size: 40px;
    }
    .bars{
        display: none;
    }
    .menu-options{
        display: flex;
        width: 40%;
    }
    .menu-options ul{
        font-size: 15px;
        display: flex;
        width:100%;
        align-items: center;
        justify-content: space-between;
    }
    .img-principal{
        display: inline-block;
        height: 100%;
        width: 60vw;
    }
    .img-principal img{
        width: 100%;height: 100%;
    }
    .container-text{
        text-align: right;
        width: 40vw;
        margin-right: 5vw;
    }
    .seccion-principal{
        background-image: none;
        background-color: none;
        flex-direction: row;
    }
    .container-text h2{
        font-size: 30px;
        text-align: right;
        width: 100%;
    }
    .seccion-principal .container-text span{
        text-align: right;
        font-size: 18px;
        width: 100%;
    }
    .container-beneficios{
        padding: 40px 0;
    }
    .card-valores{
        padding: 50px 0px;
    }
    .card-beneficios h3{
        font-size: 24px;
    }
    .card-beneficios p{
        font-size: 17px;
    }
}
/*Escritorio promedio*/
@media (min-width: 1280px) {
    .container-text h2{
        font-size: 40px;
    }
    .seccion-principal .container-text span{
        font-size: 20px;
    }
    .menu-options ul{
        font-size: 20px;
    }
}
@media (min-width: 1400px){
    .container-text h2{
        font-size: 40px;
    }
    .seccion-principal .container-text span{
        font-size: 25px;
    }
}